name: Publish NPM package

on:
  push:
    branches: [main]

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    name: Build and publish stytch-management package to NPM
    permissions:
      contents: write
      id-token: write

    steps:
      - uses: actions/checkout@v4

      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v4
        with:
          registry-url: "https://registry.npmjs.org"
          node-version: "20"

      - name: Upgrade npm (required for trusted publishing)
        run: npm install -g npm@latest

      - name: Run CI
        run: npm ci

      - name: Build
        run: npm run build --if-present

      - name: Run tests
        run: npm test --if-present

      - name: Get version
        id: version
        run: |
          VERSION=$(node -e 'console.log(`v${require("./package.json").version}`)')
          echo "release_tag=$VERSION" >> $GITHUB_OUTPUT

      - name: Get changed files
        id: files
        uses: jitterbit/get-changed-files@v1

      - name: Check for package.json diff
        id: diff
        run: |
          FOUND=0
          for changed_file in ${{ steps.files.outputs.all }}; do
            if [[ $changed_file == "package.json" ]]; then
              FOUND=1
            fi
          done
          echo "diff=$FOUND" >> $GITHUB_OUTPUT

      - name: Publish to NPM
        if: steps.diff.outputs.diff != 0
        run: npm publish

      - name: Create release
        if: steps.diff.outputs.diff != 0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release create "${{ steps.version.outputs.release_tag }}" --generate-notes
